.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 11px;
  margin-top: 16px;
  height: 55px;
  min-height: 55px;
  width: 426px;
  max-width: 82vw;
  border-radius: 5px;

  background: var(--color-row-background);
  border-radius: 5px;
  &:hover {
    background: var(--color-row-background-active);
  }
}

.title {
  color: var(--color-content-text);
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
}

.features {
  margin: 0 14px 0 auto;
  display: flex;

  .date {
    height: 20px;
    padding: 0 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    background-color: var(--color-content-background);
  }
  svg {
    fill: var(--color-icon-disabled);
    margin-left: 10px;
  }
  svg:hover {
    fill: var(--color-main);
    opacity: 1;
  }
}

.today {
  color: hsl(157, 100%, 37%);
}

.tommorow {
  color: rgb(202, 149, 16);
}

.passed {
  color: rgb(204, 54, 34);
}

.notsoon {
  color: var(--color-main);
}
