.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 11px;
  margin-top: 16px;
  height: 55px;
  width: 426px;
  max-width: 82vw;
  border-radius: 5px;

  background: var(--color-row-background);
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
    color: var(--color-main);
  }
}

.icon {
  fill: var(--color-main);
  width: 37px;
  height: 37px;
}

.title {
  color: var(--color-content-text);
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
}
