.search {
  margin-top: 16px;
  width: 426px;
  max-width: 82vw;
  height: 42px;
  position: relative;

  &:hover .input {
    border: 1px solid var(--color-main);
  }
  &:hover .icon {
    fill: var(--color-main);
  }
}

.input {
  cursor: text;
  width: 426px;
  max-width: 82vw;
  height: 42px;
  border: 1px solid var(--color-search-border);
  border-radius: 5px;
  padding-left: 50px;
  background-color: var(--color-content-background);
  color: var(--color-search);

  &::placeholder {
    color: var(--color-search-border);
    opacity: 0.5;
    user-select: none;
  }
}

.search_icon {
  position: absolute;
  left: 20px;
  top: 13px;
  fill: var(--color-search-border);
}

.clear {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 14px;
  fill: var(--color-main);
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
