.MuiInputBase-input {
  cursor: pointer !important;
}

.MuiTypography-root {
  border-radius: 10px !important;
}

.MuiTypography-h4 {
  font-size: 20px !important;
  padding: 5px 20px;
  background-color: var(--color-calendar-day-background) !important;
}

.MuiTypography-h3 {
  padding: 5px 4px;
  margin: 0 -2px !important;
}

.MuiPaper-root {
  color: var(--color-main) !important;
  background-color: var(--color-calendar-background) !important;
  border-radius: 10px !important;
}

.MuiPickersDay-dayWithMargin {
  color: rgb(229, 228, 226) !important;
  background-color: var(--color-calendar-day-background) !important;
  border-radius: 10px !important;
}
.MuiPickersDay-today {
  color: rgb(229, 228, 226) !important;
  background-color: var(--color-calendar-today-background) !important;
  border: none !important;
}
.Mui-selected {
  color: white !important;
  background-color: var(--color-calendar-selected-background);
}
.Mui-selected:hover {
  color: white !important;
  background-color: var(--color-calendar-selected-background) !important;
}
.Mui-selected:focus {
  color: white !important;
  background-color: var(--color-calendar-selected-background) !important;
}
.MuiPickersDay-dayOutsideMonth {
  color: var(--color-calendar-dayoutside-text) !important;
  background-color: var(--color-calendar-dayoutside-background) !important;
  border-radius: 10px !important;
}

.MuiTabs-root {
  background-color: rgba(120, 120, 120, 0.4) !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

.MuiClockPointer-root {
  background-color: var(--color-calendar-selected-background) !important;
}

.MuiClockPointer-thumb {
  background-color: var(--color-calendar-selected-background) !important;
  border-color: var(--color-calendar-selected-background) !important;
}

.MuiClock-pin {
  background-color: var(--color-calendar-selected-background) !important;
}

.MuiSvgIcon-root {
  fill: var(--color-calendar-dayoutside-text) !important;
}

.MuiPickersCalendarHeader-label {
  color: var(--color-calendar-dayoutside-text) !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none;
}

.css-1tcwmcw-MuiPickersToolbar-root-MuiDateTimePickerToolbar-root .MuiPickersToolbar-penIconButton {
  display: none;
}
