:root[data-theme='light'] {
  --color-main: #a900c5;
  --color-main-2: #7243b1;
  --color-content-text: #3a273a;
  --color-content-background: #ffffff;
  --color-header-text: #ffffff;
  --color-header-background: #a900c5;
  --color-background: #edd0f1;
  --color-row-background: #e2e2e2;
  --color-search: #a1a1a1;
  --color-search-border: #cecece;
}

:root[data-theme='dark'] {
  --color-main: #7120ea;
  --color-main-2: #fcb3ff;
  --color-content-text: #e5e2f7;
  --color-content-background: #221f2e;
  --color-header-text: #f0c8f1;
  --color-header-background: #710aa1;
  --color-background: #2e2b3f;
  --color-row-background: #2e2b3f;
  --color-search: #f0c8f1;
  --color-search-border: #7120ea;
}
