:root[data-theme='light'] {
  --color-main: #a900c5;
  --color-main-2: #7243b1;
  --color-icon-disabled: #cecece;
  --color-content-text: #3a273a;
  --color-content-background: #ffffff;
  --color-header-text: #ffffff;
  --color-header-background: #a900c5;
  --color-background: hsl(300, 7%, 80%);
  --color-row-background: hsl(300, 7%, 94%);
  --color-row-background-active: hsl(300, 7%, 96%);
  --color-search: #a1a1a1;
  --color-search-border: #cecece;

  --color-date-background: #ffffff;
  --color-date-today: hsl(157, 100%, 42%);
  --color-date-tommorow: rgb(202, 149, 16);
  --color-date-passed: rgb(245, 13, 33);
  --color-date-notsoon: #a900c5;

  --color-calendar-background: #ffffff;
  --color-calendar-day-background: hsl(249, 20%, 21%);
  --color-calendar-dayoutside-background: hsl(249, 20%, 21%);
}

:root[data-theme='dark'] {
  --color-main: #7120ea;
  --color-main-2: #fcb3ff;
  --color-icon-disabled: hsl(249, 20%, 30%);
  --color-content-text: hsl(249, 57%, 93%);
  --color-content-background: #221f2e;
  --color-header-text: #f0c8f1;
  --color-header-background: #710aa1;
  --color-background: #2e2b3f;
  --color-row-background: hsl(249, 20%, 21%);
  --color-row-background-active: hsl(249, 20%, 22%);
  --color-search: #f0c8f1;
  --color-search-border: #7120ea;

  --color-date-background: #221f2e;
  --color-date-today: hsl(147, 79%, 45%);
  --color-date-tommorow: rgb(202, 149, 16);
  --color-date-passed: rgb(204, 54, 34);
  --color-date-notsoon: #7120ea;

  --color-calendar-background: hsl(249, 20%, 21%);
  --color-calendar-day-background: hsl(249, 19%, 15%);
  --color-calendar-today-background: hsl(240, 17%, 27%);
  --color-calendar-selected-background: #7120ea;
  --color-calendar-dayoutside-background: hsl(249, 19%, 19%);
  --color-calendar-dayoutside-text: hsl(247, 16%, 11%);
}
