.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  height: 100vh;
  min-width: 100vw;
  height: -webkit-fill-awailable;
}

html {
  height: -webkit-fill-awailable;
}
