.contentArea {
  resize: none;
  border-radius: 10px;
  padding: 10px;
  width: 430px;
  max-width: 82vw;
  height: 270px;
  color: var(--color-content-text);
  background-color: var(--color-row-background);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.title {
  width: 400px;
  max-width: 82vw;
  height: 40px;
  color: var(--color-content-text);
  background-color: var(--color-row-background);
  margin: 36px 0 4px 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
}

.save {
  margin: auto 0 0px 0;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid var(--color-main);
  background-color: var(--color-content-background);
  color: var(--color-main);
}

.save_disabled {
  margin: auto 0 0px 0;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid var(--color-background);
  background-color: var(--color-content-background);
  color: var(--color-background);
}
